body {
  background: pink;
}

h1 {
  color: Blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: "Gills Sans Extra bold", sans-serif;
}

#tasks .completed {
  background-color: #ccc;
  text-decoration: underline;
}
